body{
    text-align: center;
}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display:flex ;
    justify-content: center;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.red{
    background-color: #d95980;
}
.flash{
    background-color:white;
}
.btnpress{
    background-color: black;
}
.userflash{
    background-color: black;
}